/* Container général */
.article-page {
  padding: 60px 30px 60px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Hero — titre + image + date */
.article-hero {
  max-width: 900px;
  text-align: center;
}

.article-title {
  font-family: "Maneola", serif;
  font-size: 4rem;
  margin-bottom: -10px;
  font-weight: 700;
  letter-spacing: 0.15rem;
  text-transform: uppercase;
}

.article-cover {
  aspect-ratio: 5 / 3;
  overflow: hidden;
  border-radius: 20px;
  opacity: 0;
  animation: fadeUp 1s ease forwards;
  box-shadow: 0 8px 18px rgba(0,0,0,0.08);
}

@keyframes fadeUp {
  to {
    opacity: 1;
  }
}

.article-cover img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.article-date {
  font-size: 1rem;
  opacity: 0.8;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  margin-top: 0.6rem;
  margin-bottom: 3rem;
}

/* Corps du texte */
.article-body {
  max-width: 900px;
  width: 100%;
  font-family: "Rubik", system-ui, sans-serif;
  line-height: 1;
  margin-bottom: 4rem;
}

.article-lead {
  font-size: 1.45rem;
  font-weight: 600;
  margin-bottom: -10px;
  letter-spacing: -0.6px;
}

.article-body p:not(.article-lead) {
  opacity: 0.9;
  font-size: 1.15rem;
  letter-spacing: -0.1px;
}

.article-body ul {
  opacity: 0.9;
  font-size: 1.15rem;
  letter-spacing: -0.1px;
}

.similar-article {
  text-align: center;
  font-size: 1.8rem; 
  margin-top: 20px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.article-related {
  width: 100%;
  max-width: 1200px;
}

.article-related h2 {
  font-family: "Maneola", sans-serif;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.6rem;
  letter-spacing: 0.08rem;
  text-transform: uppercase;
  margin-top: 1rem;
}

.related-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 35px;
}


/* Responsive */
@media (max-width: 768px) {
  .article-page {
    padding-left: 0px; !important
    padding-right: 0px; !important
    gap: 20px;
    padding-top: 50px;
  }

  .article-title {
    font-size: 2.3rem;
    line-height: 2rem;
    margin-top: 0.8rem;
    letter-spacing: 0.03rem;
  }

  .article-hero {
    padding: 0 20px;
    margin-bottom: -10px;
  }

  .article-body {
    padding: 0 20px;
  }

  .article-related {
    width: 100%;
    max-width: 1200px;
  }
  
  .article-date {
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
    margin-top: 1.2rem;
    margin-bottom: 2rem;
  }

  .article-cover {
    border-radius: 16px;
    opacity: 0;
    animation: fadeUp 1s ease forwards;
    box-shadow: 0 8px 18px rgba(0,0,0,0.08);
  }
}

@media (max-width: 800px) {
  main.article-page {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}



/* Bouton Download */
.btn-glass {
  padding: 8px 14px;
  font-size: 1.1rem;
  font-weight: 700;
  color: white;
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 45px;
  text-decoration: none;
  transition: transform 0.3s, background 0.3s;
  box-shadow:
    0 3px 12px rgba(0,0,0,0.1),
    inset 0 0 8px rgba(255 255 255 / 0.2);
  margin-bottom: 1rem;
  margin-top: -40px;
}


.btn-glass:hover {
  background: rgba(255, 255, 255, 0.1);
  transform: scale(1.01);
  box-shadow:
    0 4px 16px rgba(0,0,0,0.15),
    inset 0 0 10px rgba(255 255 255 / 0.3);
}



/* Partage d'article */
.article-share{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-right: 100px;
  margin-bottom: 60px;
}

/* Bouton principal */
.share-button{
  display: flex;
  gap: 6px;
  padding: 12px 20px;
  border-radius: 50px;
  border: none;
  background: rgba(20,20,20,0.65);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  font-family: "Rubik", system-ui, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.9;
  transition: 
    background 0.25s ease,
    transform 0.2s ease,
    box-shadow 0.25s ease;
}

/* Icône */
.share-icon{
  width: 19px;
  height: 19px;
  opacity: 0.9;
  transition: 
    width 0.2s ease,
    height 0.2s ease,
    opacity 0.2s ease;
}

/* Hover desktop */
.share-button:hover{
  background: rgba(20,20,20,0.7);
  transform: translateX(2px);
}

/* Click */
.share-button:active{
  transform: translateY(0);
}

/* Responsive */
@media (max-width: 700px){
  .article-share{
    display: flex;
    justify-content: center;
    margin-right: 0px;
  }

  .share-button{
    margin-right: 0;
  }
}